@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;515;600;700&display=swap');

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background: transparent;
}
 
::-webkit-scrollbar-thumb {
    background: #33adde;
}

body {
    margin: 0;
    background: #000;
    font-family: 'Fira Code', monospace;
    color: #f8f8f8;
}

a {
    color: #33adde;
    transition: 0.3s;
}

a:hover {
    color: #33adde;
}

.vh-100 {
    min-height: 100vh;
}

.bg-blur {
    opacity: 90%;
    -webkit-backdrop-filter: blur(10rem);
    backdrop-filter: blur(10rem);
}

.bg-dark {
    background: #000 !important;
}

.btn-primary {
    background-color: #33adde;
    border-color: #33adde;
}

.btn-primary:hover {
    background-color: #f5f5f5;
    border-color: #33adde;
    color: #33adde;
}

.btn-primary:active,
.btn-primary:focus {
    background-color: #33adde;
    border-color: #33adde;
}